/* Обнуление */
*,
*::before
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: Inter;
    font-size: 15px;
    color: #1F1F1F;
}
/* ------------------------------------------------------------------------ */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ------------------------------------------------------------------------ */

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0px auto;
    padding: 0px 15px;
}

/*  PC  */
@media (max-width: 1160px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/*  TABLET  */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/*  MOBILE  */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/* ------------ШАПКА------------------------------------------------------------ */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
}
.header__logo {
    font-family: Inter;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.6;
    color:#2D2D2D;
    letter-spacing: 0.2px;
    margin: 0px 0px 0px 6px;
}
.header__menu {
    flex-grow: 1;
    flex-shrink:  1;
    flex-basis: auto;
}
.header__right__block {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header__sign-in-button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 89px;
}
.header__button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 139px;
    margin: 0px 0px 0px 0.42px;
}
.menu {
    display: flex;
    justify-content: left;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0px 0px 0px 25px;
}
.menu__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #33383F;
    letter-spacing: 0.2px;
}
/*---------БЕЛАЯ КНОПКА------------------------------------------------------*/
.button_white {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #0070A0;
    background-color: #FFFFFF;
    padding: 6px 20px;
    white-space: nowrap;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color:  #d8e2e6;
}
.button_white {
    background-color: #FFFFFF;
}
.button_white:hover{
    background-color:  #d8e2e6;
}
/*---------------КНОПКА------------------------------------------------------*/
.button_blue {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 6px 20px;
    background-color: #0070A0;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color:  #6da4bb;
}
.button_blue {
    background-color: #0070A0;
}
.button_blue:hover{
    background-color:  #6da4bb;
}
/*===============================================================*/
.everyday-tasks {
   padding: 145px 0px 0px 0px;
}
.everyday-tasks__container {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.everyday-tasks__content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 46%;
}
.everyday-tasks__block-text {
    max-width: 485px;
}
.block-text {

}
.block-text__title {

}
.block-text__text {

}
.block-text__button_blue {

}
.block-text__button_white {

}
.everydey-tasks__image {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    margin-left: auto;
}
