/* Обнуление */
*,
*::before
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family: Inter;
    font-size: 15px;
    color: #1F1F1F;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1440px;
    max-height: 5384px;
    margin: 0 auto;
    border: 2px solid #F00000;
}

.main {
    flex-grow: 1;
    flex-shrink:  1;
    flex-basis: auto;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0px auto;
    padding: 0px 15px;
}

/*  PC  */
@media (max-width: 1160px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/*  TABLET  */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/*  MOBILE  */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
}
.header__logo {
    font-family: Inter;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.6;
    color:#2D2D2D;
    letter-spacing: 0.2px;
    margin: 0px 0px 0px 6px;
}
.header__menu {
    flex-grow: 1;
    flex-shrink:  1;
    flex-basis: auto;
}
.header__right__block {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header__sign-in-button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 89px;
}
.header__button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 139px;
    margin: 0px 0px 0px 0.42px;
}
.menu {
    display: flex;
    justify-content: left;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0px 0px 0px 25px;
}
.menu__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #33383F;
    letter-spacing: 0.2px;
}
.button_white {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #0070A0;
    background-color: #FFFFFF;
    padding: 6px 20px;
    white-space: nowrap;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color:  #d8e2e6;
}
.button_white {
    background-color: #FFFFFF;
}
.button_white:hover{
    background-color:  #d8e2e6;
}
.button_blue {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 6px 20px;
    background-color: #0070A0;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color:  #6da4bb;
}
.button_blue {
    background-color: #0070A0;
}
.button_blue:hover{
    background-color:  #6da4bb;
}
.everyday-tasks {
   padding: 145px 0px 80px 0px;
}
.everyday-tasks__content {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.everyday-tasks__content_item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 46%;
}
.everyday-tasks__block-text {
    max-width: 485px;
}
.block-text {

}
.block-text__title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 58px;
    line-height: 63.8px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}
.block-text__title:not(:last-child) {
    margin: 0px 0px 40px 0px;
}
.block-text__text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    max-width: 351px;
}
.block-text__text:not(:last-child) {
    margin: 0px 0px 33px 0px;
}
.block-text__button_blue {
        display: inline-block;
        font-family: Inter;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        padding: 6px 20px;
        background-color: #0070A0;
        transition: background-color 0.3s ease 0s;
    }
    .button:hover {
        background-color:  #c9dfe9;
    }
    .button_blue {
        background-color: #0070A0;
    }
    .button_blue:hover{
        background-color:  #c9dfe9;
    }
.block-text__button_white {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;

}
.everydey-tasks__image {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    margin-left: auto;
}
.trust__content {
    display: flex;
   align-items: center;
   justify-content: center;
   min-height: 96.81px;
}
.trust__block-text__title {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 37.5px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}
.trust__companies {
    display: flex;
    justify-content: space-around;
    padding: 23px 60px 0px 60px;
}
.trust__focusfox {

}
.companies__logo_nowInTech {
    font-family: National Park;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #969FA4;

}

.advantages__content {
    display: flex;
    width: 1130px;
    height: 250px;
    margin-top: 160px;
    align-items: center;
    flex-wrap: wrap;
}

.fast_content {
    width: 355px;
    height: 250px;
    background-color: #FAEA73;
    padding: 32px;
    margin-right: 32px;
    box-sizing: border-box;
}

.benefit_content {
    width: 355px;
    height: 250px;
    background-color: #CCEFF6;
    padding: 32px;
    margin-right: 32px;
    box-sizing: border-box;
}

.safety_content {
    width: 355px;
    height: 250px;
    background-color: #F7CEDC;
    padding: 32px;
    box-sizing: border-box;
}

.fast_content h3,
.benefit_content h3,
.safety_content h3 {
    color: #1F1F1F;
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
}

.fast_content p,
.benefit_content p,
.safety_content p {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.care__content {
    display: flex;
    background-color: #F7F9FA;
    width: 1440px;
    height: 694px;
    margin: 120px 0px 0px -140px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.care__content_item {
    flex-direction: column;
    display: flex;
    width: 1230px;
    height: 534px;
    margin-top: 80.39px;
    margin-left: 105px;
}

.care__content_item-blok {
    display: flex;
    width: 1166px;
    height: 400px;
    margin: 32px 32px 0px 32px;
}

.care__content_title {
    width: 650px;
    height: 100px;
    margin: 0px 0px 0px 50px;
}

.care__content_title-start {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}

.care__content_title-end {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 39px;
    line-height: 50.4px;
    letter-spacing: 0.5px;
    color: #1F1F1F;
}

.care__content_menu-blok {
    display: block;
    width: 485.83px;
    height: 345px;
    box-sizing: border-box;
    padding-left: 18px;
}

.care__content_images-blok {
    width: 485px;
    height: 479px;
    margin-left: 139px;
}

.care__content_anti-loss {
    width: 450px;
    height: 157px;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    box-sizing: border-box;
    padding: 17px 0px 0px 12px;
}

.care__blok_anti-loss_arrow {
    width: 18px;
    height: 10px;
}

.care__anti-loss_blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.care__block-text_title {
    width: 373.83px;
    height: 38px;
    font-family: Fraunces;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: space-between;
}

.care__block-text {
    width: 374px;
    height: 72px;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 16px;
    margin-left: 60px;
}

.care__menu_exchange {
    width: 450px;
    height: 64px;
    font-family: Fraunces;
    font-size: 20px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    color: #626A72;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 12px;
    box-sizing: border-box;
    margin-top: 1px;
}

.care__menu_encrypted {
    width: 450px;
    height: 64px;
    font-family: Fraunces;
    font-size: 21px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    color: #626A72;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px 0px 12px;
    box-sizing: border-box;
    margin-top: 1px;
}

.care__menu_options {
    width: 450px;
    height: 64px;
    font-family: Fraunces;
    font-size: 21px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    color: #626A72;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px 0px 12px;
    box-sizing: border-box;
    margin-top: 1px;
}

.exchange_text-left {
    width: 373.83px;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.encrypted {
    text-align: center;
}

.options {
    text-align: center;
}

.care__blok_anti-loss {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.whirl__content {
    display: flex;
    width: 1130px;
    height: 218px;
    box-sizing: border-box;
    margin: 155px 0px;
    justify-content: space-between;
}

.whirl__content_title {
    width: 300px;
    height: 218px;
}

.whirl__concent_title-start {
    font-family: Fraunces;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
}

.whirl__content_title-end {
    font-family: Fraunces;
    font-size: 41px;
    line-height: 50.4px;
    letter-spacing: 0.5px;
}

.whirl__content_item {
    display: flex;
    width: 732px;
    height: 218px;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

.whirl__content_place {
    width: 222.66px;
    height: 218px;
    box-sizing: border-box;
}

.whirl__content_place-title {
    font-family: Fraunces;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 63px;
}

.whirl__content_place-text {
    font-family: Inter;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}

.whirl__content_alerts {
    width: 222.66px;
    height: 218px;
    box-sizing: border-box;
    margin-left: 32px;
}

.whirl__content_alerts-title {
    font-family: Fraunces;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}

.whirl__content_alertd-text {
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}

.whirl__content_safety {
    width: 222.66px;
    height: 218px;
    box-sizing: border-box;
    margin-left: 32px;
}

.whirl__content_safety-title {
    font-family: Fraunces;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}

.whirl__content_safety-text {
    font-family: Inter;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}

.set__content {
    width: 1440px;
    height: 550px;
    box-sizing: border-box;
    background-color: #0070A0;
    display: flex;
    margin-left: -140px;
}

.set__content_item {
    width: 1130px;
    height: 389.97px;
    display: flex;
    margin-top: 80.39px;
    margin-left: 155px;
}

.set__content-img {
    display: block;
    margin-left: 60px;
}

.set__content_blok {
    display: block;
    max-width: 501px;
    margin-left: 187px;
    color: #FFFFFF;
}

.set__content_blok-title {
    font-family: Fraunces;
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
}

.set__content_blok-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    margin-top: 18px;
}

.set__content_blok-menu {
    display: flex;
    width: 501px;
    height: 99px;
}

.set__content_blok-list {
    margin: 20px 0px 16px 0px;
    padding: 0px 0px 0px 0px;

}

.set__content_blok-list li {
    background: url(../img/set/check.svg) left no-repeat;
    padding: 0px 0px 0px 26px;
}

.set__content_blok-list li:nth-child(1){
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0.2px;
}

.set__content_blok-list li:nth-child(2){
    font-size: 17px;
    line-height: 21.6px;
    letter-spacing: 0.2px;
    
}

.set__content_blok-list li:nth-child(3){
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0.2px;
    
}

.automated__content {
    width: 1230px;
    height: 408px;
    box-sizing: border-box;
    margin-top: 120px;
}

.automated__content_item {
    width: 1130px;
    height: 408px;
    margin: 0 auto;;
}

.automated__content_title {
    width: 650px;
    height: 122px;
    box-sizing: border-box;
}

.automated__content_title-title {
    width: 456px;
    height: 51px;
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
}

.automated__content_title-text {
    width: 650px;
    height: 54px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    margin-top: 18px;
}

.automated__content_menu {
    display: flex;
    width: 1130px;
    height: 218px;
    margin-top: 68px;
    align-items: center;
    flex-wrap: wrap;
}

.automated__content_options {
    display: block;
    width: 234.5px;
    height: 218px;
}

.automated__content_options-title {
    display: block;
    width: 231px;
    height: 32px;
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
}

.automated__content_options-text {
    display: block;
    width: 221px;
    height: 72px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}

.automated__content_menu-informed {
    display: block;
    width: 234.5px;
    height: 218px;
}